/*.sdf
/ipch
/Debug
/Release
/VoiceSynthesisTest/Debug
/VoiceSynthesisTest/VoiceSynthesisTest.vcxproj.user
/VoiceSynthesisTest/VoiceSynthesisTest.vcxproj
/VoiceSynthesisTest/VoiceSynthesisTest.vcxproj.filters

